{% extends "layout.html" %}



{% block body %}


{% if logged_in %}
<script>
    document.getElementById("logged_credentials").innerText = "{{username}}"
    document.getElementById("log_out").style.visibility = "visible"

</script>

{% endif %}


<br><div>This page has been developed by Angie the great(est) and provides functionality for registering as a user, finding doctors and booking apppointments in the area of Munich.
    It has been thoroughly tested by independent testers including Niki Panousi!
</div>


{% endblock %}