{% extends "layout.html" %}



{% block body %}











<div>
    This is a list of all available doctors in the area.
</div>


<table id="doc_table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Specialization</th>
        </tr>
    </thead>
    {% for doctor in doctors_list %}

    <tbody>
        <tr>
            {% for column in ["full_name", "address", "specialization" ]%}
            <td>{{doctor[column]}}</td>
            {% endfor %}
    </tbody>
    {% endfor %}
</table>



{% endblock %}