{% extends "layout.html" %}



{% block body %}



<h1 class="web_body">Welcome to MucDocs</h1>


<form action="/login" method="post">
    
    <input type="text" class="form-control" name="username" autocomplete= "off" placeholder="Enter your email"
        pattern="^[a-zA-Z0-9]+@[a-zA-Z]+\.[a-z]+$" title="Please enter a valid email address" required>
    <input type="password" class="form-control" name="pwd" placeholder="Enter your password"
        pattern="^[a-zA-Z0-9!]{3,12}$" title="Please enter a password with length between 3 and 12 characters" required>
    <button name="login" type="submit">Login</button>
    <a href="signup" type="button">Signup</a>
    
</form>



{% endblock %}