{% extends "layout.html" %}


{% block body %}


<script>

    document.getElementById("logged_credentials").innerText = "{{username}}"
    document.getElementById("log_out").style.visibility = "visible"


</script>

<div>
    You are logged in as {{session.get("username")}}
</div>

<div class="lopin_options">
    <div>
        <a href="/book_appointment">Find a doctor</a>
    </div>
    <div>

        <a href="/register_doc">Register as a doctor</a>
    </div>
    <div>

        <a href="/delete">Delete user</a>
    </div>


</div>


{% endblock %}