{% extends "layout.html" %}




{% block body %}
<h1 class="web_body">Welcome to MunichDocs</h1>

<h3></h3>

<form id="signup_form" action="/signup" method="post">
    <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Enter your user name"
        pattern="^[a-zA-Z0-9_]+@[a-zA-Z]+\.[a-z]+$" title="Please enter a valid email address e.g., john@gmail.com" required>
    <input type="password" name="pwd" class="form-control" placeholder="Enter your password"
        pattern="^[a-zA-Z0-9!]{3,12}$" title="Please enter a password with length between 3 and 12 characters" required>
    <input type="password" name="pwd_repeat" class="form-control" placeholder="Re-enter your password" required>
    <button name="signup" type="submit">Signup</button>
    <div id="incorrect_pwd" style="color: rgb(201, 128, 128);"></div>


    <message></message>
</form>

<script src="{{url_for('static', filename='utils.js')}}"></script>



{% endblock %}